fastapi==0.115.5
Flask==3.1.0
Flask_Cors==5.0.0
ibm_watsonx_ai==1.1.23
langchain_core==0.3.19
langchain_ibm==0.3.3
langchain_ollama==0.2.0
newsapi==0.1.1
pydantic==2.9.2
pyttsx3==2.98
Requests==2.32.3
